@model BookStore.Data.Data.Entities.DeliveryItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DeliveryItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery.DeliveryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DeliveryItemID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
