@model IEnumerable<BookStore.Data.Data.Entities.DeliveryItem>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Delivery Items</h1>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <a asp-action="Create" class="btn btn-success">
            <i class="fa fa-plus"></i> Create New
        </a>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Delivery)</th>
                <th>@Html.DisplayNameFor(model => model.Book)</th>
                <th>@Html.DisplayNameFor(model => model.Quantity)</th>
                <th class="text-center" style="width: 120px">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Delivery.IdDelivery)</td>
                    <td>@Html.DisplayFor(modelItem => item.Book.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td class="text-center">
                        <a asp-action="Edit" asp-route-id="@item.IdDeliveryItem" class="btn btn-sm btn-outline-primary">
                            <i class="fa fa-pencil-square"></i>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.IdDeliveryItem" class="btn btn-sm btn-outline-info">
                            <i class="fa fa-info-circle"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.IdDeliveryItem" class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
