@model BookStore.Data.Data.Entities.User

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4 text-center">Delete User</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h3 class="text-center mb-4">Are you sure?</h3>

        <div class="border p-4 rounded">

            <dl class="row mb-3">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Password) hash
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Street)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Street)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdUser" />
                <button type="submit" class="btn btn-danger w-100 mb-3">Delete</button>
            </form>

            <div class="text-center">
                <a asp-action="Index" class="btn btn-secondary w-100 text-decoration-none">← Back to List</a>
            </div>
        </div>
    </div>
</div>
