@model BookStore.Data.Data.Entities.User

@{
    ViewData["Title"] = "User Details";
}

<h1 class="mb-4 text-center">User Details</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="border p-4 rounded">

            <dl class="row mb-3">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Password)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Street)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Street)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>
            </dl>

            <div class="text-center mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.IdUser" class="btn btn-primary w-100 mb-2">Edit</a>
                <a asp-action="Index" class="btn btn-secondary w-100">Back to List</a>
            </div>
        </div>
    </div>
</div>
