@model BookStore.Data.Data.Entities.Review

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4 text-center">Delete Review</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h3 class="text-center mb-4">Are you sure?</h3>

        <div class="border p-4 rounded">

            <dl class="row mb-3">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.User.Username)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Book)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Book.Title)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rating)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Comment)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DateAdded)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DateAdded)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdReview" />
                <button type="submit" class="btn btn-danger w-100 mb-3">Delete</button>
            </form>

            <div class="text-center">
                <a asp-action="Index" class="btn btn-secondary w-100 text-decoration-none">← Back to List</a>
            </div>
        </div>
    </div>
</div>
