@model BookStore.Data.Data.Entities.Review

@{
    ViewData["Title"] = "Review Details";
}

<h1 class="mb-4 text-center">Review Details</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="border p-4 rounded">

            <dl class="row mb-3">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.User.Username)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Book)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Book.Title)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rating)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Comment)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DateAdded)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DateAdded)
                </dd>
            </dl>

            <div class="text-center mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.IdReview" class="btn btn-primary w-100 mb-2">Edit</a>
                <a asp-action="Index" class="btn btn-secondary w-100">Back to List</a>
            </div>
        </div>
    </div>
</div>
