@model BookStore.Data.Data.Entities.Book

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-4 text-center">Delete Book</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
        <h3 class="text-center mb-4">Are you sure?</h3>

        <div class="border p-4 rounded">

            <dl class="row mb-3">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NumberOfPages)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumberOfPages)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.YearPublished)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.YearPublished)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Language)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Language)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ISBN)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ISBN)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-8">
                    @ViewBag.AuthorFullName
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ImageUrl)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdBook" />
                <button type="submit" class="btn btn-danger w-100 mb-3">Delete</button>
            </form>

            <div class="text-center">
                <a asp-action="Index" class="btn btn-secondary w-100 text-decoration-none">← Back to List</a>
            </div>
        </div>
    </div>
</div>
