@model IEnumerable<BookStore.Data.Data.Entities.Book>

@{
    ViewData["Title"] = "Index";
}

<div class="container my-5">

    <h1 class="mb-4">Books</h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        @await Html.PartialAsync("_SearchBarPartial")
        <a class="btn btn-success" asp-action="Create">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.ISBN)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.PublishedYear)</th>
                    <th>@Html.DisplayNameFor(model => model.NumberOfPages)</th>
                    <th>@Html.DisplayNameFor(model => model.Price)</th>
                    <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                    <th>@Html.DisplayNameFor(model => model.Author)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.PublishedYear)</td>
                        <td>@Html.DisplayFor(modelItem => item.NumberOfPages)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.ImageUrl)</td>
                        <td>@Html.DisplayFor(modelItem => item.Author.Name)</td>
                        <td>
                            @await Html.PartialAsync("_IndexButtonsPartial", item.BookID)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


@section Scripts {
   <script>
       $(function () {
           $('.deleteBtn').click(function (e) {
               swal({
                   title: "Are you sure?",
                   text: "Are you sure you want to delete this record?",
                   icon: "warning",
                   buttons: true,
                   dangerMode: true,
               }).then((confirm) => {
                   if (confirm) {
                       var btn = $(this);
                       var id = btn.data("id");
                       $('#itemid').val(id);
                       $('#deleteForm').submit();
                   }
               });
           });
       });
   </script>
}
